<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security 
						http://www.springframework.org/schema/security/spring-security.xsd">
	
	<security:http auto-config="true">
		<security:intercept-url pattern="/sec/moderation.html" access="ROLE_MODERATOR" />
		<security:intercept-url pattern="/admin/*" access="ROLE_ADMIN" />
			
		<security:form-login login-page="/user-login.html" 
							 default-target-url="/success-login.html"
							 authentication-failure-url="/error-login.html" />
					
		<security:logout logout-success-url="/index.html"/>
		<security:session-management invalid-session-url="/expired-session.html" session-authentication-error-url="/invalid-session.html">
			<security:concurrency-control expired-url="/expired-session.html" max-sessions="1" error-if-maximum-exceeded="true" />
		</security:session-management>	
	</security:http>
	
	<security:authentication-manager>
		<security:authentication-provider user-service-ref="customUserDetailsService">
			<security:password-encoder hash="plaintext" />
		</security:authentication-provider>
	</security:authentication-manager>
	
<!-- <security:http auto-config="true">
		
		<security:intercept-url pattern="/welcome*" access="ROLE_USER,ROLE_ADMIN"/>
		<security:http-basic/>
		<security:form-login/>
		<security:logout logout-success-url="/home"/>
		
		<security:form-login login-page="/login" default-target-url="/welcome"
							  authentication-failure-url="/loginFailed"/>
		<security:logout logout-success-url="/logout"/>
		
	</security:http> -->
	
<!-- 	<security:authentication-manager>
		<security:authentication-provider>
		Encoding password using algorithm
		<security:password-encoder hash="sha-256"/>
			<security:user-service>
				<security:user name="karthick" password="123" authorities="ROLE_USER"/>
				<security:user name="karthick" password="da70dfa4d9f95ac979f921e8e623358236313f334afcd06cddf8a5621cf6a1e9" authorities="ROLE_USER"/>
				<security:user name="kaviya" password="97a6d21df7c51e8289ac1a8c026aaac143e15aa1957f54f42e30d8f8a85c3a55" authorities="ROLE_USER"/>
			</security:user-service>
			Validating credentials against database
			<security:jdbc-user-service authorities-by-username-query="${auth_query}" 
			 	users-by-username-query="${user_query}"	data-source-ref="dataSource"/>
		</security:authentication-provider>
	</security:authentication-manager> -->

</beans>
