<?xml  version="1.0" encoding="UTF-8"?>
<batchResponse xmlns="urn:oasis:names:tc:DSML:2:0:core"
	xmlns:xsd="http://www.w3c.org/2001/XMLSchema" xmlns:xsi="http://www.w3c.org/2001/XMLSchema-instance">
	<searchResponse xmlns="">
		<searchResultEntry dn="cn=Kaviya Krishnan,ou=users,o=Spring4WebApp">
			<attr name="uid">
				<value>kaviya</value>
			</attr>
			<attr name="sn">
				<value>Krishnan</value>
			</attr>
			<attr name="userPassword">
				<value xsi:type="xsd:base64Binary">e1NTSEF9cVJuaUUwZXlmdjd3eDlEUElveVJtTVE3WGRKc0pmWGM0Tlk3VFE9PQ==
				</value>
			</attr>
			<attr name="cn">
				<value>Kaviya Krishnan</value>
			</attr>
			<attr name="objectClass">
				<value>organizationalPerson</value>
				<value>person</value>
				<value>inetOrgPerson</value>
				<value>top</value>
			</attr>
		</searchResultEntry>
		<searchResultEntry dn="cn=Karthick Krishnan,ou=users,o=Spring4WebApp">
			<attr name="uid">
				<value>karthick</value>
			</attr>
			<attr name="sn">
				<value>Krishnan</value>
			</attr>
			<attr name="userPassword">
				<value xsi:type="xsd:base64Binary">e1NTSEF9d1FMbzVqUzVrR3IyR3F2T04zMXhzQWtyNFg2ZjFIbG1XNEdxeFE9PQ==
				</value>
			</attr>
			<attr name="cn">
				<value>Karthick Krishnan</value>
			</attr>
			<attr name="objectClass">
				<value>organizationalPerson</value>
				<value>person</value>
				<value>inetOrgPerson</value>
				<value>top</value>
			</attr>
		</searchResultEntry>
		<searchResultEntry dn="cn=Moderator,ou=groups,o=Spring4WebApp">
			<attr name="uniqueMember">
				<value>cn=Kaviya Krishnan,ou=users,o=Spring4WebApp</value>
				<value>cn=Karthick Krishnan,ou=users,o=Spring4WebApp</value>
				<value>cn=Mohankumar Krishnan,ou=users,o=Spring4WebApp</value>
			</attr>
			<attr name="cn">
				<value>Moderator</value>
			</attr>
			<attr name="objectClass">
				<value>groupOfUniqueNames</value>
				<value>top</value>
			</attr>
		</searchResultEntry>
		<searchResultEntry dn="ou=users,o=Spring4WebApp">
			<attr name="ou">
				<value>users</value>
			</attr>
			<attr name="objectClass">
				<value>organizationalUnit</value>
				<value>top</value>
			</attr>
		</searchResultEntry>
		<searchResultEntry dn="cn=Admin,ou=groups,o=Spring4WebApp">
			<attr name="uniqueMember">
				<value>cn=Karthick Krishnan,ou=users,o=Spring4WebApp</value>
			</attr>
			<attr name="cn">
				<value>Admin</value>
			</attr>
			<attr name="objectClass">
				<value>groupOfUniqueNames</value>
				<value>top</value>
			</attr>
		</searchResultEntry>
		<searchResultEntry dn="cn=User,ou=groups,o=Spring4WebApp">
			<attr name="uniqueMember">
				<value>cn=Karthick Krishnan,ou=users,o=Spring4WebApp</value>
				<value>cn=Kaviya Krishnan,ou=users,o=Spring4WebApp</value>
			</attr>
			<attr name="cn">
				<value>User</value>
			</attr>
			<attr name="objectClass">
				<value>groupOfUniqueNames</value>
				<value>top</value>
			</attr>
		</searchResultEntry>
		<searchResultEntry dn="cn=Mohankumar Krishnan,ou=users,o=Spring4WebApp">
			<attr name="uid">
				<value>mohan</value>
			</attr>
			<attr name="sn">
				<value>Krishnan</value>
			</attr>
			<attr name="userPassword">
				<value xsi:type="xsd:base64Binary">e1NTSEF9RXJicTVOeXh6cjNoRENlSnk2SE1tZ3hrS1FBcVhqalRMYSsydHc9PQ==
				</value>
			</attr>
			<attr name="cn">
				<value>Mohankumar Krishnan</value>
			</attr>
			<attr name="objectClass">
				<value>organizationalPerson</value>
				<value>person</value>
				<value>inetOrgPerson</value>
				<value>top</value>
			</attr>
		</searchResultEntry>
		<searchResultEntry dn="ou=groups,o=Spring4WebApp">
			<attr name="ou">
				<value>groups</value>
			</attr>
			<attr name="objectClass">
				<value>organizationalUnit</value>
				<value>top</value>
			</attr>
		</searchResultEntry>
		<searchResultEntry dn="o=Spring4WebApp">
			<attr name="dc">
				<value>Spring4WebApp</value>
			</attr>
			<attr name="o">
				<value>Spring4WebApp</value>
			</attr>
			<attr name="objectclass">
				<value>domain</value>
				<value>top</value>
				<value>extensibleObject</value>
			</attr>
		</searchResultEntry>
		<searchResultDone>
			<resultCode code="0" descr="success" />
		</searchResultDone>
	</searchResponse>
</batchResponse>